.control-anotacao {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
}

.custom-table th, .custom-table td{
    border: 0 !important;
}

#loading-image {
    display: none;
}

#erro-cep {
    padding: 5px;
    color: red;
    display: none;
}

.table {
    cursor: pointer;
}

.no-padding {
    padding: 0 !important;
}

.grid-comissao {
    height: 640px;
}

.columns {
    background-color: #acacac;
    height: 100%;
}

.left-column {
    border-right: 1px solid rgb(37, 58, 71);
}

.h-40 {
    height: 40%;
}

.h-50 {
    height: 50%;
}

.h-60 {
    height: 60%;
}

.bb-color {
    border-bottom: 1px solid rgb(37, 58, 71);
}

.bb-color2 {
    border-bottom: 2px solid rgb(37, 58, 71);
}

.bt-color {
    border-top: 1px solid rgb(37, 58, 71);
}

.mb-15 {
    margin-bottom: 15px;
}

.table-embarques th {
    min-width: 120px;
}

.title-info {
    background-color: #375269;
    color: white;
    padding: 10px 15px;
}

.body-info {
    padding: 15px;
}

@media (max-height: 600px) {
    .grid-comissao {
        height: 385px;
    }
}

@media (min-height: 601px) and (max-height: 768px) {
    .grid-comissao {
        height: 490px;
    }
}

@media (min-height: 769px) and (max-height: 800px) {
    .grid-comissao {
        height: 525px;
    }
}

@media (min-height: 801px) and (max-height: 900px) {
    .grid-comissao {
        height: 625px;
    }
}

@media (min-height: 901px) and (max-height: 1050px) {
    .grid-comissao {
        height: 775px;
    }
}

@media (min-height: 1051px) and (max-height: 1080px) {
    .grid-comissao {
        height: 805px;
    }
}

@media (min-height: 1081px) and (max-height: 1200px) {
    .grid-comissao {
        height: 925px;
    }
}